@model List<CarManagmentSystem.Models.Cars>
@{
    ViewBag.Title = "Shop";
}


<main>

   
       

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4   ">
            @foreach (var car in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(car.Image))" style="width:100%; height:200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <small class="card-text"><b>@car.Miles K Miles &nbsp; @car.Year</b> </small> 
                            <h6 class="card-title">@car.Name</h6>
                            <p class="card-text">@car.Company &nbsp;  <b>$@car.Price</b></p>
                            <p class="card-text">@car.Type</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    

</main>
