@model  List<CarManagmentSystem.Models.Cars>

@{
    ViewBag.Title = "Home Page";
}



<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyCSS/IndexStylesheet.css")" media="screen">

<style>
    .serive_p {
        padding: 80px;
        color: aliceblue;
        background-color: chartreuse;
    }

    .contact_p {
        padding: 100px;
        color: aliceblue;
    }
    .sell_find {
        font-style: italic;
        padding: 100px;
        color: aliceblue;
        background-color: aquamarine;
    }

    .text_italic {
        font-style: italic;
    }
</style>

<main>
    <div class="container ">
        <div class="image-container">
            <video width="720" height="600" controls>
                <source src="~/Content/Videos/video (2160p).mp4" />
            </video>
        </div>
        <div class="text-container">
            <p>
                At Car Shop, we offer a wide range of services to keep your car running smoothly.
                From oil changes and tire rotations to engine repairs and transmission services,
                we have the expertise and experience to handle all of your car's needs.
                Our team of certified technicians is dedicated to providing you with the highest quality service at
                a competitive price. We are also proud to offer a wide variety of parts and accessories to help you
                customize your car to your liking. So whether you're looking for a quick oil change or a complete
                engine overhaul, Car Shop is the place to go.
            </p>

            <a class="btn btn-light mt-4" href="@Url.Action("Contact", "Home")">
                Browse all cars
            </a>
        </div>
    </div>

    <br />
    <br />
    <br />


    <div class="line-container">
        <div class="line"></div>
        <div class="text-on-line">
            <h3>
                New Editions
            </h3>
        </div>
    </div>

    <br />
    <br />
    <br />


    
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/Content/Images/CoverImage2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated at @DateTime.Now</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
</main>

<br />
<br />
<br />

<div class="contact_index">
    <div class="contact_p">
    <h2 class="text_italic">Contact Us</h2>
        <p class="text_italic"> 
        We value your feedback and inquiries. Whether you have a question about our products, need assistance,
        or simply want to share your thoughts with us, we're here to help. Feel free to reach out to our
        dedicated support team through the contact form below. We strive to respond promptly to all messages
        and appreciate the opportunity to assist you. Thank you for choosing Car Shop
        where your satisfaction is our priority.
        </p>
    </div>
    <span class="contact_button">
        <a class="btn btn-light" href="@Url.Action("Contact", "Home")">Contact Us</a>
    </span>
</div>

<br />

<div class="sell_find">
    <h2 >Find our stores OR Sell your car online</h2>
    <p >
        Discover convenience like never before with our two distinct services - Find our stores or Sell your car
        online. Whether you're in search of our physical stores to explore a wide range of automotive options,
        receive personalized assistance, and experience hands-on vehicle inspection, or you prefer the seamless
        and hassle-free process of selling your car online, we've got you covered. Our commitment to providing
        choices ensures that you can choose the path that suits your needs best. Visit our stores to witness the
        latest models and discuss your preferences with our knowledgeable staff, or opt for the online selling
        platform for a swift and efficient transaction. Whichever option you choose, we are dedicated to making
        your automotive experience both convenient and rewarding.
    </p>
    <div class="contact_button">
        <span style="justify-content:space-between;">
            <a class=" btn btn-light" href="@Url.Action("Contact", "Home")">Find our stores</a>
            <a class="btn btn-light " href="@Url.Action("Contact", "Home")">Sell your car online</a>
        </span>
    </div>
</div>

<br />

<div class="serive_p">
    <h2 class="text_italic">Book a service for your car.</h2>
    <p class="text_italic">
        Elevate your car care experience by booking a service tailored to your vehicle's needs. Our seamless
        online booking platform allows you to schedule maintenance or repairs effortlessly, ensuring your car
        receives the attention it deserves. From routine inspections to specialized services, our expert
        technicians are committed to keeping your vehicle running smoothly. Take the hassle out of car
        maintenance and prioritize your time with our user-friendly booking system. Simply choose the service
        you require, select a convenient time, and leave the rest to us. Enjoy peace of mind knowing that
        your car is in the hands of professionals dedicated to maintaining its peak performance. Book a
        service for your car today and embark on a journey of reliability and efficiency.
    </p>
    <span class="contact_button">
        <a class="btn btn-light" href="@Url.Action("Contact", "Home")">Book Service</a>
    </span>
</div>





